@use '../global' as global;

.drawer-menu {
	opacity: 0;
	position: fixed;
	z-index: -10;
	top: 0;
	background: transparent linear-gradient(155deg, #642390 0%, #19074a 100%) 0%
		0% no-repeat padding-box;
	text-align: center;

	&--active {
		opacity: 1;
		width: 100%;
    height: 100vh;
    transition: all 0.3s;
	}

	&__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__item {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&__link {
		color: #fff;
		font-family: global.$en-font;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.75px;
		display: block;
	}
}

.drawer-btn {
	margin-left: auto;
	width: 34px;

	&__item {
		display: block;
		width: 100%;
		height: 3px;
		background-color: #ffffff;
		margin-top: 6px;
		border-radius: 10px;
		transition: all 0.4s;
		position: relative;

		&:first-child {
			margin-top: 0;
		}
	}

	&--active {
		.drawer-btn__item {
			&:first-child {
				transform: rotate(45deg);
				top: 9px;
			}

			&:nth-child(2) {
				opacity: 0;
				top: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				top: -9px;
			}
		}
	}
}
