/*---------------- フォントファミリー -------------------*/

$ja-font: "Hiragino Kaku Gothic ProN","Hiragino Sans", sans-serif;
$en-font: 'Montserrat', Arial, sans-serif;

/*---------------- フォントサイズ -------------------*/

$text-size: 15px;
$text-size-sp: 14px;
$section-title: 36px;

/*---------------- line-height -------------------*/

$text-line-height: 1.8;

