/*---------------- レイヤー階層 -------------------*/

// 階層
$layer: (
	modal: 100, // モダール
	drawer: 40, // ドロワー
	header: 30, // ヘッダー
	floating: 20, // フローティングアイテム
	footer: 10, // フッター
	default: 1, // デフォルト
	curtain: -1 // 色付きの背景
);